### 1.	Import necessary libraries and Load the data set from the link given below into a pandas dataframe

In [2]:
import pandas as pd    
import numpy as np
#reading the data into the dataframe into the object data
df = pd.read_csv("https://raw.githubusercontent.com/TrainingByPackt/Data-Science-with-Python/master/Chapter01/Data/Marketing_subscription_prediction_latest_edited%20data.csv", header=0)

### 2.	Feature Overview!
a.	Find a number of rows and columns<br>
b.	List all the columns<br>
c.	Find the basic statistics of all columns <br>
d.	List down the basic information of columns using info() function<br>

In [16]:
#Finding number of rows and columns
print("Number of rows and columns : ",df.shape)

Number of rows and columns :  (41199, 21)

In [17]:
#Basic Statistics of each column
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
age,41197.0,40.023812,10.434966,1.000,32.000,38.000,47.000,104.000
duration,41192.0,258.274762,259.270089,0.000,102.000,180.000,319.000,4918.000
campaign,41199.0,2.567514,2.769719,1.000,1.000,2.000,3.000,56.000
pdays,41199.0,962.485206,186.886905,0.000,999.000,999.000,999.000,999.000
previous,41199.0,0.172941,0.494859,0.000,0.000,0.000,0.000,7.000
emp_var_rate,41199.0,0.081900,1.570971,-3.400,-1.800,1.100,1.400,1.400
cons_price_idx,41199.0,93.575650,0.578845,92.201,93.075,93.749,93.994,94.767
cons_conf_idx,41199.0,-40.502002,4.628524,-50.800,-42.700,-41.800,-36.400,-26.900
euribor3m,41199.0,3.621336,1.734431,0.634,1.344,4.857,4.961,5.045
nr_employed,41199.0,5167.036455,72.249592,4963.600,5099.100,5191.000,5228.100,5228.100
y,41199.0,0.112648,0.316166,0.000,0.000,0.000,0.000,1.000

In [18]:
#Basic Information of each column
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41199 entries, 0 to 41198
Data columns (total 21 columns):
age               41197 non-null float64
job               41199 non-null object
marital           41199 non-null object
education         41199 non-null object
default           41199 non-null object
housing           41199 non-null object
loan              41199 non-null object
contact           41193 non-null object
month             41199 non-null object
day_of_week       41199 non-null object
duration          41192 non-null float64
campaign          41199 non-null int64
pdays             41199 non-null int64
previous          41199 non-null int64
poutcome          41199 non-null object
emp_var_rate      41199 non-null float64
cons_price_idx    41199 non-null float64
cons_conf_idx     41199 non-null float64
euribor3m         41199 non-null float64
nr_employed       41199 non-null float64
y                 41199 non-null int64
dtypes: float64(7), int64(4), object(10)
memory usage: 6.6+ MB

### 3.	Create a dataframe with column whether NULL values is there or not with their respective data types and find how many missing values exist in each column

In [19]:
#finding the data types of each column and checking for null
null_ = df.isna().any()
dtypes = df.dtypes
sum_na_ = df.isna().sum()
info = pd.concat([null_,sum_na_,dtypes],axis = 1,keys = ['isNullExist','NullSum','type'])
info

                isNullExist  NullSum     type
age                    True        2  float64
job                   False        0   object
marital               False        0   object
education             False        0   object
default               False        0   object
housing               False        0   object
loan                  False        0   object
contact                True        6   object
month                 False        0   object
day_of_week           False        0   object
duration               True        7  float64
campaign              False        0    int64
pdays                 False        0    int64
previous              False        0    int64
poutcome              False        0   object
emp_var_rate          False        0  float64
cons_price_idx        False        0  float64
cons_conf_idx         False        0  float64
euribor3m             False        0  float64
nr_employed           False        0  float64
y                     False        0    int64

### 4.	Since we have loaded the dataset into the object “data” we will remove the null values from the dataset

In [20]:
#removing Null values
df = df.dropna()
#Total number of null in each column
df.isna().sum()

age               0
job               0
marital           0
education         0
default           0
housing           0
loan              0
contact           0
month             0
day_of_week       0
duration          0
campaign          0
pdays             0
previous          0
poutcome          0
emp_var_rate      0
cons_price_idx    0
cons_conf_idx     0
euribor3m         0
nr_employed       0
y                 0
dtype: int64

### 5.	Frequency distribution of Education column

In [21]:
df.education.value_counts()

university.degree      12167
high.school             9516
basic.9y                6045
professional.course     5242
basic.4y                4176
basic.6y                2292
unknown                 1731
illiterate                18
Name: education, dtype: int64

### 6.	The education column of the dataset has many categories and we need to reduce the categories for a better modelling. The education column has the following categories:

In [22]:
df.education.unique()

array(['basic.4y', 'unknown', 'university.degree', 'high.school',
       'basic.9y', 'professional.course', 'basic.6y', 'illiterate'],
      dtype=object)

In [23]:
#Let us group "basic.4y", "basic.9y" and "basic.6y" together and call them "basic".
#To do so, we can use replace function from pandas
df.education.replace({"basic.9y":"Basic","basic.6y":"Basic","basic.4y":"Basic"},inplace=True)

In [24]:
#After grouping, this is the column
df.education.unique()

array(['Basic', 'unknown', 'university.degree', 'high.school',
       'professional.course', 'illiterate'], dtype=object)

### 7.	Select and perform a suitable encoding method for the data

In [29]:
#Select all the non numeric data using select_dtypes function
data_column_category = df.select_dtypes(exclude=[np.number]).columns

#Select all the numeric data using select_dtypes function
data_column_numeric = df.select_dtypes(include=[np.number]).columns

In [31]:
df_onehot_category_frame = pd.get_dummies(df[data_column_category])

In [33]:
final_encoded_df = pd.concat([df[data_column_numeric],df_onehot_category_frame],axis=1)

In [34]:
final_encoded_df.head()

,age,duration,campaign,pdays,previous,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,...,month_oct,month_sep,day_of_week_fri,day_of_week_mon,day_of_week_thu,day_of_week_tue,day_of_week_wed,poutcome_failure,poutcome_nonexistent,poutcome_success
0,44.0,210.0,1,999,0,1.4,93.444,-36.1,4.963,5228.1,...,0,0,0,0,1,0,0,0,1,0
1,53.0,138.0,1,999,0,-0.1,93.200,-42.0,4.021,5195.8,...,0,0,1,0,0,0,0,0,1,0
2,28.0,339.0,3,6,2,-1.7,94.055,-39.8,0.729,4991.6,...,0,0,0,0,1,0,0,0,0,1
3,39.0,185.0,2,999,0,-1.8,93.075,-47.1,1.405,5099.1,...,0,0,1,0,0,0,0,0,1,0
4,55.0,137.0,1,3,1,-2.9,92.201,-31.4,0.869,5076.2,...,0,0,1,0,0,0,0,0,0,1

In [35]:
final_encoded_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 41187 entries, 0 to 41194
Data columns (total 62 columns):
age                              41187 non-null float64
duration                         41187 non-null float64
campaign                         41187 non-null int64
pdays                            41187 non-null int64
previous                         41187 non-null int64
emp_var_rate                     41187 non-null float64
cons_price_idx                   41187 non-null float64
cons_conf_idx                    41187 non-null float64
euribor3m                        41187 non-null float64
nr_employed                      41187 non-null float64
y                                41187 non-null int64
job_admin.                       41187 non-null uint8
job_blue-collar                  41187 non-null uint8
job_entrepreneur                 41187 non-null uint8
job_housemaid                    41187 non-null uint8
job_management                   41187 non-null uint8
job_retired                      41187 non-null uint8
job_self-employed                41187 non-null uint8
job_services                     41187 non-null uint8
job_student                      41187 non-null uint8
job_technician                   41187 non-null uint8
job_unemployed                   41187 non-null uint8
job_unknown                      41187 non-null uint8
marital_divorced                 41187 non-null uint8
marital_married                  41187 non-null uint8
marital_single                   41187 non-null uint8
marital_unknown                  41187 non-null uint8
education_Basic                  41187 non-null uint8
education_high.school            41187 non-null uint8
education_illiterate             41187 non-null uint8
education_professional.course    41187 non-null uint8
education_university.degree      41187 non-null uint8
education_unknown                41187 non-null uint8
default_no                       41187 non-null uint8
default_unknown                  41187 non-null uint8
default_yes                      41187 non-null uint8
housing_no                       41187 non-null uint8
housing_unknown                  41187 non-null uint8
housing_yes                      41187 non-null uint8
loan_no                          41187 non-null uint8
loan_unknown                     41187 non-null uint8
loan_yes                         41187 non-null uint8
contact_cellular                 41187 non-null uint8
contact_telephone                41187 non-null uint8
month_apr                        41187 non-null uint8
month_aug                        41187 non-null uint8
month_dec                        41187 non-null uint8
month_jul                        41187 non-null uint8
month_jun                        41187 non-null uint8
month_mar                        41187 non-null uint8
month_may                        41187 non-null uint8
month_nov                        41187 non-null uint8
month_oct                        41187 non-null uint8
month_sep                        41187 non-null uint8
day_of_week_fri                  41187 non-null uint8
day_of_week_mon                  41187 non-null uint8
day_of_week_thu                  41187 non-null uint8
day_of_week_tue                  41187 non-null uint8
day_of_week_wed                  41187 non-null uint8
poutcome_failure                 41187 non-null uint8
poutcome_nonexistent             41187 non-null uint8
poutcome_success                 41187 non-null uint8
dtypes: float64(7), int64(4), uint8(51)
memory usage: 7.0 MB

### 8.	Splitting the data with train and test

In [37]:
#Segregating Independent and Target variable
X=final_encoded_df.drop(columns='y')
y=final_encoded_df['y']

from sklearn. model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [39]:
print("FULL Dateset X Shape: ", X.shape )
print("Train Dateset X Shape: ", X_train.shape )
print("Train Dateset y Shape: ", y_train.shape )
print("Test Dateset X Shape: ", X_test.shape )
print("Test Dateset y Shape: ", y_test.shape )

FULL Dateset X Shape:  (41187, 61)
Train Dateset X Shape:  (32949, 61)
Train Dateset y Shape:  (32949,)
Test Dateset X Shape:  (8238, 61)
Test Dateset y Shape:  (8238,)